[Unit]
Description=Rotary Phone Guest Book Project
After=multi-user.target bootLed.service
Wants=bootLed.service

[Service]
WorkingDirectory=/home/admin/rotary-phone-audio-guestbook
Type=simple
Restart=always
ExecStartPre=/bin/sleep 3
ExecStartPre=-/bin/systemctl stop bootLed.service
ExecStart=/usr/bin/python3 src/audioGuestBook.py

[Install]
WantedBy=multi-user.target