[Unit]
Description=Rotary Phone Guest Book Project
After=multi-user.target

[Service]
User=root
Group=root
WorkingDirectory=/home/admin/rotary-phone-audio-guestbook
Type=simple
Restart=always
ExecStartPre=/bin/sleep 3
ExecStart=/home/admin/rotary-phone-audio-guestbook/.venv/bin/python3 src/audioGuestBook.py

[Install]
WantedBy=multi-user.target